* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
}

h1 {
  margin-bottom: 10px;
}

form,
label,
button,
em {
  display: block;
}

label {
  cursor: pointer;
  margin-bottom: 4px;
}

input,
button {
  font-size: 1rem;
  padding: 0.6rem;
}

input {
  margin-bottom: 8px;
}

button {
  margin-top: 8px;
}

label,
em,
ol,
span {
  width: max-content;
}

strong {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

div {
  margin-top: 10px;
}

ol {
  background-color: #2b2b2b;
  border-radius: 12px;
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 1rem;
}

li {
  color: #fff;
  font-weight: bold;
}

span {
  display: flex;
  gap: 2px;
}

#resultado {
  width: 200px;
}

#numero-mas-chico {
  color: #20b2aa;
}

#numero-mas-grande {
  color: #f08080;
}

#numero-mas-frecuente {
  color: #ec5fb6;
}

.oculto {
  display: none;
}

.btn-eliminar {
  display: inline;
  margin-left: 6px;
}

.error {
  border: 2px solid red;
}

#errores > li {
  color: #000;
  list-style: none;
  margin-top: 5px;
}
