* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
}

h1 {
  margin-bottom: 10px;
}

form {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  cursor: pointer;
  display: block;
  margin-bottom: 4px;
}

input,
button,
div {
  width: 200px;
}

input {
  padding: 0.5rem;
}

button {
  font-size: 1rem;
  height: 35px;
  margin-top: 10px;
}

strong {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

div {
  margin-top: 10px;
}

em {
  display: block;
}

ol {
  background-color: #2b2b2b;
  border-radius: 12px;
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 1rem;
  width: max-content;
}

li {
  color: #fff;
  font-weight: bold;
  width: max-content;
}

#resultado {
  text-align: left;
  width: 100%;
}

#resultado-tarea3 {
  text-align: center;
  width: 200px;
}

#numero-mas-chico {
  color: #20b2aa;
}

#numero-mas-grande {
  color: #f08080;
}

#numero-mas-frecuente {
  color: #ec5fb6;
}

